//Colors
$primary-start: #ff6ec7;
$primary-end: #ffd166;
$bg-gray: #f5f5f5;
$border-color: #dcdcdc;

$white: #fff;
$dark: #e3e3e3;

$error: #ff2156;
$success: #55db1e;
$warning: #ffac0e;

@mixin gradient-primary {
  background: linear-gradient(90deg, $primary-start, $primary-end);
}

//Spacing
$extra-large: 40px;
$large: 32px;
$medium: 24px;
$semi-medium: 20px;
$regular: 16px;
$semi-regular: 12px;
$small: 8px;
$extra-small: 4px;

// font size
$brand-name: 48px;
$title-large: 36px;
$subtitle: 28px;
$section-title: 22px;
$content-text: 16px;
$description-text: 14px;
$small-text: 12px;
