.listQRContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  scroll-behavior: smooth;
  overflow-x: auto;
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      margin: 0;
      width: 70%;
      font-size: 25px;
      font-weight: 600;
      text-align: justify;
    }

    &__printQR {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      button {
        width: 30%;
        border: none;
        padding: 12px 0;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        transition: 0.25s;
        border-radius: 40px;
        letter-spacing: 0.4px;
        box-shadow: 0px 6px 14px rgba(255, 110, 199, 0.35);
        background: linear-gradient(90deg, #ff6ec7, #ffd166);
      }
    }
  }
  &__list {
    margin: 0px;
    :last-child {
      margin-top: 0;
    }
    &__page {
      display: flex;
      &--a4 {
        gap: 30px;
      }
      &--a5 {
        gap: 25px;
      }
    }
    &__row {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      &--border {
        border: 1px dashed #000;
        padding: 10px;
      }
    }

    &__item {
      height: 150px;
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__text {
        text-align: center;
        overflow-wrap: break-word;
        margin-bottom: 0;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
    &__number {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .listQRContainer {
    &__list {
      max-height: 775px;

      &__row {
        gap: 15px;
      }
      &__page {
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 599px) {
  .listQRContainer {
    &__list {
      max-height: 775px;
      justify-content: flex-start;
      max-width: 300px;

      &__row {
        gap: 15px;
      }
    }
  }
}
