.bodyContainer {
  top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  background: #f5f5f5;
  flex-direction: column;
  padding-bottom: 2.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  .bodyWrapper {
    // height: 100vh;
    padding: 20px 0 150px 0;
    @include flex(column, flex-start, flex-start, $medium, wrap);
  }

  .options-grid {
    gap: 26px;
    height: auto;
    display: grid;
    padding: 40px;
    overflow-y: auto;
    padding-bottom: 5rem;
    background-color: #f5f5f5;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    @media (max-width: 420px) {
      height: 85vh;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      padding: 24px;
    }
  }

  .option-card {
    gap: 12px;
    height: auto;
    padding: 24px;
    cursor: pointer;
    display: flex;
    user-select: none;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s ease;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
    .icon {
      font-size: 40px;
    }

    span {
      color: #000;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
