.otpContainer {
  width: 100%;
  display: block;
  text-align: start;
  &__title {
    display: block;
    font-size: 1rem;
    color: #888888;
    margin-bottom: 0.625rem;
  }
  &__form {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    &__input {
      border: 0;
      color: #000;
      width: 3.25rem;
      font-size: 1rem;
      height: 3.25rem;
      padding: 0.5rem;
      border-radius: 0;
      text-align: center;
      border-radius: 0.313rem;
      background-color: transparent;
      border: 0.063rem solid #e7e7e7;
    }
    &__clearable {
      right: 0;
      border: none;
      bottom: 0.625rem;
      border-radius: 50%;
      position: absolute;
      font-size: 1.125rem;
      background-color: #fff;
    }
  }
}
