.tableWrapper {
  width: 100%;
  display: grid;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: auto;
  padding: 3rem 2rem;
  position: relative;
  border-radius: 12px;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  /* subtle shadow */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  @media (max-width: 500px) {
    padding: 24px;
  }
}

/* ================= TABLE ================= */
.table {
  width: 100%;
  border-spacing: 0;
  background: #fff;
  border-radius: 8px;
  border-collapse: separate;
}

/* ================= HEADER ================= */
th {
  color: #fff;
  user-select: none;
  background: #000;
  white-space: nowrap;
  transition: background 0.2s ease;

  &:first-child {
    border-top-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
  }
}
/* ================= BODY ================= */
td {
  color: #111827;
  background: #fff;
  padding: 12px 16px;
  transition: background 0.2s ease;
}

tbody tr:nth-child(even) td {
  background: #fcfcfd;
}

/* ================= PAGINATION ================= */
.paginationWrapper {
  right: 16px;
  bottom: 8px;
  position: absolute;
  @media (max-width: 768px) {
    right: 8px;
    bottom: 8px;
  }
}

/* ================= SEARCH ================= */
.search {
  margin-bottom: 12px;
}

