.testCalendar {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;

  display: grid;
  justify-content: center;
  gap: 40px;

  padding: 48px;
  padding-bottom: 10rem !important;

  margin: 0 auto;
  overflow-y: auto;

  background: $bg-gray;

  // Tạo cảm giác hiện đại hơn
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);

  // Cuộn mượt mà
  scroll-behavior: smooth;

  @media (max-width: 768px) {
    padding: 32px;
    gap: 24px;
  }

  @media (max-width: 500px) {
    padding: 20px;
    gap: 16px;
  }
}
