.textContainer {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  text-align: start;
  flex-direction: column;
  &__title {
    display: flex;
    gap: 0.313rem;
    font-size: 1rem;
    color: #7d7d7d;
    &__required {
      color: #ff2156 !important;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    position: relative;
    &__input {
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      color: #464646 !important;
      min-height: 3rem;
      border-radius: 0.5rem;
      padding: 0.5rem 0.75rem;
      background-color: transparent;
      border: 0.063rem solid #e7e7e7;
      &::placeholder {
        color: #cbcbcb;
      }
    }
    &__clearable {
      border: none;
      right: 0.625rem;
      bottom: 0.875rem;
      border-radius: 50%;
      position: absolute;
      font-size: 1.125rem;
      background-color: #fff;
    }
  }
}
