.radioContainer {
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  height: fit-content;
  background-color: #fff;
  &__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    &__input {
      z-index: 1;
      position: absolute;
    }
    &__svg {
      z-index: 1000;
      position: absolute;
    }
  }
  &__label {
    width: 90%;
    display: flex;
    color: #464646;
    align-items: center;
    justify-content: space-between;
    &--first {
      justify-content: flex-start;
    }
    &--last {
      justify-content: flex-end;
    }
  }
}
