.animation-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: #000000;
    opacity: 0.5;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 99999;
  }

  .animation-content-popup {
    .title {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 30%;
      left: 50%;
      font-weight: 600;
      font-size: 40px;
      line-height: 140%;
      color: #ffffff;
      width: 350px;
      text-align: center;
    }
    .circle {
      width: 185px;
      height: 177px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      border-radius: 50%;
      border: 1.2px solid #1bbaff;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;

      .check-bt {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        position: absolute;
        bottom: -75px;
        width: 100%;
        white-space: nowrap;
      }

      span {
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        color: #ffffff;
      }

      &:before {
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: calc(100% + 60px);
        height: calc(100% + 60px);
        background: url('https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/trial-service/running-1.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:after {
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(30deg);
        position: absolute;
        width: calc(100% + 80px);
        height: calc(100% + 80px);
        background: url('https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/trial-service/running-2.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
