.checkboxGroupContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
  background-color: #fff;
  &__style {
    display: flex;
    &--column {
      width: 100%;
      flex-direction: column;
    }
    &--row {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__title {
    width: 100%;
    color: #7d7d7d;
    font-size: 1rem;
    font-weight: 400;
  }
  &__list {
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    width: 50%;
  }
  &__input {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    input {
      z-index: 1;
      position: absolute;
    }
    &__svg {
      z-index: 1000;
      position: absolute;
    }
  }
  &__label {
    width: 75%;
    display: flex;
    color: #464646;
    align-items: center;
    justify-content: space-between;
    &--first {
      justify-content: flex-start;
    }
    &--last {
      justify-content: flex-end;
    }
  }
}
